* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  width: 100%;
  background-color: purple;
  color: white;
  display: grid;
  justify-content: center;

}

main {
  margin-top: 20px;
  height: inherit;
  width: inherit;
}

main h2 {
  text-align: center;
}


section {
  margin-top: 100px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

section button {
  padding: 0.5rem;

}

input {
  text-align: center;
}

button {
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 7px;

}

button:hover {
  scale: 1.125;
}

button:active {
  color: white;
  background-color: cyan;
}

article {
  margin-top: 100px;
  min-width: 300px;
  min-height: 60%;

}

article .user {
  width: inherit;
  height: inherit;
  display: grid;
  place-items: center;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
  margin-bottom: 1.25rem;
  border: solid 1px white;
  border-radius:9px;
}

article .user img {
  margin-top: 0.25rem;
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 50%;
}